## Importing Libraries

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Take a first look at the data

In [3]:
# read in all our data
sf_permits = pd.read_csv("NFL Play by Play 2009-2016 (v3).csv")

# set seed for reproducibility
np.random.seed(0)

C:\Users\hp\AppData\Local\Temp\ipykernel_5848\418304081.py:2: DtypeWarning: Columns (25,51) have mixed types. Specify dtype option on import or set low_memory=False.
  sf_permits = pd.read_csv("NFL Play by Play 2009-2016 (v3).csv")

In [4]:
sf_permits.head()

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2009-09-10,2009091000,1,1,NaN,15:00,15,3600.0,0.0,TEN,...,NaN,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,NaN,NaN,2009
1,2009-09-10,2009091000,1,1,1.0,14:53,15,3593.0,7.0,PIT,...,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,2009-09-10,2009091000,1,1,2.0,14:16,15,3556.0,37.0,PIT,...,NaN,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,NaN,NaN,2009
3,2009-09-10,2009091000,1,1,3.0,13:35,14,3515.0,41.0,PIT,...,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2009-09-10,2009091000,1,1,4.0,13:27,14,3507.0,8.0,PIT,...,NaN,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,NaN,NaN,2009

## How many missing data points do we have?

What percentage of the values in the dataset are missing? Your answer should be a number between 0 and 100. (If 1/4 of the values in the dataset are missing, the answer is 25.)

In [5]:
permit_missing = sf_permits.isnull().sum()

total = np.product(sf_permits.shape)
total_missing = permit_missing.sum()
# finding percentage
percentage  = (total_missing/total) * 100

## Figure out why the data is missing

Look at the columns "Street Number Suffix" and "Zipcode" from the San Francisco Building Permits dataset. Both of these contain missing values.

Which, if either, are missing because they don't exist?
Which, if either, are missing because they weren't recorded?

## Answer

If a value in the "Street Number Suffix" column is missing, it is likely because it does not exist. If a value in the "Zipcode" column is missing, it was not recorded.

## Drop missing values: rows

In [7]:
row = sf_permits.dropna()
# chcek the shape of data 
row.shape

(0, 102)

##  Drop missing values: columns

Now try removing all the columns with empty values.

- Create a new DataFrame called sf_permits_with_na_dropped that has all of the columns with empty values removed.
- How many columns were removed from the original sf_permits DataFrame? Use this number to set the value of the dropped_columns variable below.

In [8]:
sf_permits_with_na_dropped = sf_permits.dropna(axis = 1)
orignal_dataset_num = sf_permits.shape[1]
dropped_num = sf_permits_with_na_dropped.shape[1]
dropped_columns = orignal_dataset_num - dropped_num

## Fill in missing values automatically

Try replacing all the NaN's in the sf_permits data with the one that comes directly after it and then replacing any remaining NaN's with 0. Set the result to a new DataFrame sf_permits_with_na_imputed

In [9]:
sf_permits_with_na_imputed = sf_permits.fillna(method = 'bfill', axis = 0).fillna(0)